html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    display: block;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
   
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-content {
    height: 100%;
    position: relative;
    z-index: 2;
}
.custom-container {
    margin-top: -70px;
}
#DoneByYuri{
    color: white;
    font-weight: bold;
}
.SendBtn{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;

}
.box {
    font-weight: bold;
    font-size: 50px;
    color: #DEB887;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:2px 2px 5px black;
}
.GoToForm{
    color:whitesmoke;
    background-color: #DEB887;
}
.image-card {
    background: #f5f7fa;
    padding: 15px;
    border-radius: 20px;
   
    display: inline-block;
}
.Sections{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 30px;
}
.Form{
    display: flex;
    justify-content: center;
    padding: 20px;
  
}
.my-textarea {
    width: 100%;
    max-width: 700px;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
}
.image-card img {
    border-radius: 15px;
}
#TitleNextImage{
    font-size: 40px;
    font-weight: bold;
}
.TextNextToImage{
    padding-right: 50px;
}
#Headline{
    font-size: larger;
    font-weight: bold;
    height: 70px;
}


.item {
    background-color: darkblue;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    text-align: center;   
    border-radius: 10px;
    border: 1px solid darkblue;
    
}
.ImpactH1{
    color: white;
    text-align: center;

}
.form-card{
    background-color: white;
    padding: 5% 7%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0);
    border: 1px solid darkblue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}
.BlogImages{
    height: 300px; 
    width: 100%;

    background-size: contain;
    background-repeat: no-repeat;

    background-position: center;

    
}
.BlogImages a{
    text-decoration: none;
    color: black;
}
.ImagesInBlogPages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
