{% extends "MainPages/base.html" %}
{% load static %}

{% block title %} Blogs {% endblock %} 

{% block content %}
<div class="container mt-4">
    <h1>Blogs</h1>
    <hr>
    
    <div class="row">
        <div class="col-md-4 col-12 mb-4">
            <div class="BlogImages " style="height: 500px; background-color: white;">
                <a href="{% url 'Blog1Page' %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'MainPages/images/Blog1.jpg' %}" class="img-fluid rounded ">
                    <div class="mt-2">
                        <strong>The Great Blue Carbon Sink: Mangroves and Seagrass</strong>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-12 mb-4">
            <div class="BlogImages">
                <a href="{% url 'Blog2Page' %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'MainPages/images/Blog2.jpg' %}" class="img-fluid rounded">
                    <div class="mt-2">
                        <strong>Ghost Gear: The Silent Killer of the Deep</strong>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-12 mb-4">
            <div class="BlogImages">
                <a href="{% url 'Blog3Page' %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'MainPages/images/Blog3.jpg' %}" class="img-fluid rounded">
                    <div class="mt-2">
                        <strong>The Coral Resiliency Project: Engineering Survival</strong>
                    </div>
                </a>
            </div>
        </div>
    </div> </div>
{% endblock %}