 {%extends "MainPages/base.html" %}
 {% load static %}
 {% block title %}
The Coral Resiliency Project: Engineering Surviva
{% endblock %} 
{% block content %}
<h1 style="text-align: center;">The Coral Resiliency Project: Engineering Surviva</h1>
<div style="text-align: center;">
    <p><strong>Category: </strong>Scientific Innovation</p>
</div>
<div class="ImagesInBlogPages text-center col-md-12">
  <img src="{% static 'MainPages/images/Blog2.jpg' %}">
</div>
<br>
<div>
    <p><strong>Key Concept:</strong> Assisted evolution and coral restoration.

As ocean temperatures rise, traditional conservation isn't enough. Scientists are now exploring "assisted evolution"—breeding corals that have a naturally higher tolerance for heat.
 By out-planting these resilient "super-corals" onto dying reefs,
 researchers hope to provide a biological bridge that allows reef ecosystems to survive while the world works to reduce carbon emissions.</p>
</div>

{% endblock %}
