 {%extends "MainPages/base.html" %}
 {% load static %}
 {% block title %}
 Ghost Gear: The Silent Killer of the Deep
{% endblock %} 
{% block content %}
<h1 style="text-align: center;">Ghost Gear: The Silent Killer of the Deep</h1>
<div style="text-align: center;">
    <p><strong>Category: </strong>Conservation Challenges</p>
</div>
<div class="ImagesInBlogPages text-center col-md-12">
  <img src="{% static 'MainPages/images/Blog2.jpg' %}">
</div>
<br>
<div>
    <p><strong>Key Concept:</strong>Addressing abandoned fishing equipment.

"Ghost gear"—abandoned, lost, or discarded fishing nets and lines—makes up about 10% of all marine litter but is the most deadly for marine life. 
These "silent killers" continue to trap whales,turtles, and sharks for decades.
  Preservation efforts are now focusing on satellite tracking and community-led retrieval programs to clear our oceans of these synthetic traps.</p>
</div>

{% endblock %}
