 {%extends "MainPages/base.html" %}
 {% load static %}
 {% block title %}
 The Great Blue Carbon Sink: Mangroves and Seagrass
{% endblock %} 
{% block content %}
<h1 style="text-align: center;">The Great Blue Carbon Sink: Mangroves and Seagrass</h1>
<div style="text-align: center;">
    <p><strong>Category:</strong> Marine Ecosystems</p>
</div>
<div class="ImagesInBlogPages text-center col-md-12">
  <img src="{% static 'MainPages/images/Blog1.jpg' %}">
</div>
<br>
<div>
    <p><strong>Key Concept:</strong> Nature-based solutions for climate change.

While rainforests get all the credit, marine ecosystems like mangroves, salt marshes, 
and seagrass meadows are actually more efficient at sequestering carbon—often called "Blue Carbon."
 These habitats store up to five times more carbon per acre than terrestrial forests. Protecting these areas is not just about saving fish;
  it’s about stabilizing our global climate.</p>
</div>

{% endblock %}