 {%extends "MainPages/base.html" %}
 {% load static %}
 {% block title %}
 LandingPage
{% endblock %} 
{% block content %}
 <div class="hero" id="VidSec">
        <div class="col-sm-1">
            <video autoplay muted loop class="bg-video">
                <source src="{% static 'MainPages/images/seaVideo.mp4' %}" type="video/mp4">
            </video>
        </div>

        <div class="container d-flex align-items-center hero-content">
            <div class="row">
            <div class=" col-md-6 d-flex flex-column align-items-start">
                <div class="box">Ocean Wildlife Preservation</div>
                <p id="DoneByYuri">Done by Yuri Hadid</p>
                <a href="#form-section">
                    <button class="btn btn-secondary mt-3 GoToForm">Go To form</button>
                </a>
            </div>
            <div id="AddHeaderHere" class="col-md-6 box">

            </div>



            </div>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" class="SendBtn" id="AddHeader">Add a header</button>

<div id="AboutSec">
<div class="Sections" ><p>About</p></div>
        




<div class=" d-flex align-items-center">

    <div class="container2">
        <div class="row align-items-start">

            <!-- LEFT TEXT -->
            <div class="col-12 col-md-6 TextNextToImage">
                <p id="TitleNextImage">Ocean wildlife preservation</p>
                <p>is the effort to protect and restore marine ecosystems and the species that depend on them. Oceans are home to an incredible diversity of life, from tiny plankton to massive whales, and they play a vital role in maintaining Earth’s balance by producing oxygen, regulating climate, and supporting global food chains. However, marine life is increasingly threatened by pollution, overfishing, habitat destruction, and climate change. Conservation efforts focus on reducing plastic waste, protecting endangered species, establishing marine protected areas, and promoting sustainable fishing practices. By preserving ocean wildlife, we help ensure healthier oceans for future generations and maintain the stability of the planet’s natural systems. </p>
            </div>

            <!-- RIGHT IMAGE -->
            <div class="col-12 col-md-6 text-center">
                <div class="image-card">
                    <img src="{% static 'MainPages/images/OceanImage.jpg' %}" class="img-fluid">
                </div>
            </div>

        </div>
    </div>

</div>
</div>
<br>
<br>
<button type="submit" class="SendBtn" id="InvisibleBtn">make It Invisible</button>


<h1 class=" container ImpactH1">Our Impact</h1>
<div class="row g-4 justify-content-center" id="Gridd">
    {% for item in impact_items %}
    <div class="col-md-4">
        <div class="item">
             <strong>{{item.value}}</strong>
             <br>
             {{item.label }}
        </div>
    </div>
    {% endfor%}
    

    
</div>
<br>
<br>

<div>
    <label for="colorPicker">Choose a Theme Color:</label>
    <input type="color" id="ColorPicker">
    <button type="submit" class="SendBtn" id="ChangeColorBtn">Change Color</button>
</div>
<br>
<br>

    <div class="row justify-content-center" id="form-section">
        <div class="col-12 col-md-11 col-lg-10">
            <div class="form-card">
        <div class="Sections "><p>Form</P></div>
            

        <div class="Form" i>
            <form method="POST"  action="{% url 'get_info' %}" id="mainForm">
                {% csrf_token %}
                <div class="row">
            <div class="col-md-6 col-12">
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1 " name="name" id="inputName">
                </div>
                <div class="col-md-6 col-12">
                <label>Email:</label>
                <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" name="email" id="inputEmail">
            </div>
            </div>
            <div class="mb-3">
                <label id="MessageTxt">Message:</label>
                <br>
                <textarea id="textArea" class="my-textarea" placeholder="Write here... " name="message"></textarea>
            </div>
                <button type="submit" class="SendBtn" id="SubmitBtn">Send</button>
        </form>
        </div>
    </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="formToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header" id="toastHeader">
      <strong class="me-auto" id="toastTitle">Notification</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toastBody">
      </div>
  </div>
</div>




</div>
<script>
    const colorPicker=document.getElementById('ColorPicker');
    const changeColorButton=document.getElementById('ChangeColorBtn');
    const gridContainer= document.getElementById('Gridd');
    const gridItems=document.getElementsByClassName('item');
    const InvisibleBtn=document.getElementById('InvisibleBtn');
    const AboutSec=document.getElementById("AboutSec");
    const AddHeader=document.getElementById('AddHeader');
    const VidSec=document.getElementById('VidSec');
    const AddHeaderHere=document.getElementById('AddHeaderHere');
    const SubmitBtn=document.getElementById('SubmitBtn');
    const inputName=document.getElementById('inputName');
    const inputEmail=document.getElementById('inputEmail');
    const textArea=document.getElementById('textArea');
    const toastEl=document.getElementById('formToast');
    const toastTitle=document.getElementById('toastTitle');
    const toastBody=document.getElementById('toastBody');
    const toastHeader=document.getElementById('toastHeader');



    SubmitBtn.addEventListener('click',function(event)
{
    event.preventDefault();
    let missingFields=[];
    if(!inputName.value.trim()) missingFields.push("Name");
    if(!inputEmail.value.trim()) missingFields.push("Email");
    if(!textArea.value.trim()) missingFields.push("textAreaa");
    const bsToast = new bootstrap.Toast(toastEl);
    if(missingFields.length==0)
{
    toastTitle.innerText="Success"
    toastTitle.style.color="green"
    bsToast.show();
    setTimeout(()=>
{
    console.log("Button clicked!");
    document.getElementById('mainForm').submit();
},1500);
}
else{
    toastTitle.innerText="failed"
    toastTitle.style.color="red"
     toastTitle.innerText="the "+ missingFields.join(", ") +" is missing";
    bsToast.show();

}
})

     AddHeader.addEventListener('click', function()
    {
        const NewHeader=document.createElement('h2');
        NewHeader.innerText="this is a new header"
        AddHeaderHere.appendChild(NewHeader);

    })


    InvisibleBtn.addEventListener('click', function()
{
    if(AboutSec.style.display=='none')
{
    AboutSec.style.display='block';
    InvisibleBtn.innerText=' make it Invisible';

}else{
    AboutSec.style.display='none';
    InvisibleBtn.innerText=' make it Visible';
}

})

    
    colorPicker.addEventListener('input',function()
{
    const newColor=colorPicker.value;
    changeColorButton.style.backgroundColor=newColor;
})

    changeColorButton.addEventListener('click',function()
{
    const newColor=colorPicker.value;
    for(var i=0;i<gridItems.length;i++)
    {
        gridItems[i].style.backgroundColor=newColor;
    }
})
</script>

{% endblock %}